* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  min-height: 100%;
  position: relative;
  isolation: isolate;
}

body {
  /* background-color: rgb(162, 160, 163); */
  /* background-color: rgb(233, 219, 229); */
  background-color: rgb(187, 211, 231);
  font-family: sans-serif;
}

.zx-background {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

.zx-field {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160vmax;
  height: 160vmax;
  transform: translate(-50%, -50%) rotate(20deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.zx-row {
  width: max-content;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.15);
  font-family: Verdana;
  font-size: 0.7rem;
  line-height: 4;
  letter-spacing: 0.05em;
  animation: zx-loop 10s linear infinite;
}

@keyframes zx-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3%);
  }
}

.content {
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.content .header {
  display: flex;
  gap: 2rem;
}